* {
    box-sizing: border-box;
  }
  
  body {
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  .judul , h2{
    display: flex;
    margin-top: 70px;
    justify-content: center;
  }


  .header  {
    padding:10px  ;
    background: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .alamat{
   margin-top: -100px;
   margin-left: 100px;
  }
  .header img {
    position: left;
  }
  .header h1 {
    font-size: 50px;
    
  }
.header p {
  font-size: 20px;
 font-variant: small-caps;
}
.class p {
  font-size: 20px;
}
h2 {
  font-size: 50px;
}
 
  .topnav {
    overflow: hidden;
    background-color: #056102;
    
  }
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    
    
  }
  .topnav a:hover {
    background-color: #033801;
    color: (#f2f2f2);
  }
  .leftcolumn {   
   justify-content: center;
   align-items: center;
   margin: auto;
    width: 90%;
  }
  .fakeimg {
    background-color: #50db26;
    width: auto;
    padding: 20px;
    border-radius: 60px;
    height:450px;
    margin-left: 100px;
    text-align: left;
    text-align: center;
    

  }
  .fakeimg1 {
    background-color: #50db26;
    border-radius: 60px;
    height:290px;
    padding-top: 5px;
   
  }
  .rapih {
    display: inline-block;
    text-align: left;
  }
  .santri {
    background-color: #50db26;
    border-radius: 30px;
    font-size: 30px;
  }
  .tulisan {
    background-color: #50db26;
    border-radius: 60px;
    font-size: 30px;
  }

   .font {
    background-color: #50db26;
    border-radius: 60px;
    font-size: 30px;
   } 
   
  .card {
    background-color: white;
    padding: 10px;
    
    
  }
  .card h2 {
    font-size: 30px;
  }

  .footer {
 height: 10px;

  }
 .foto {
  text-align: center;
 }
  .footer h2 {
    font-size: 30px;
  }
  

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}


.sosmed , a{
  list-style-type: none;
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tutup {
  font-style: italic;
  color: #f2f2f2;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
    
}
.fa-youtube {
  background: #bb0000;
  color: white;
  border-radius: 30px;
  
}
.fa-instagram {
  background: #125688;
  color: white;
  border-radius: 30px;
}
.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 30px;
}
.mburi {
  background-image: url(https://portalberita.stekom.ac.id/assets/images/berita/langkah-ke-depan-pengantaran-x-banner-pmb-univ-stekom-di-smk-bina-nusantara-semarang-smk-texmaco-semarang.jpg?t=);
}

@media only screen and (max-width: 800px) and (min-width: 600px) {
  .fakeimg {
    width: 70%; 
    height: 70%; 
  }   
}


@media only screen and (max-width: 425px) and (min-width: 319px) {
  .fakeimg {
    width: 200%; 
    height: 70%; 
  }   

}
